<h4>Appraisal Evaluation</h4>
<div *ngIf="dataSet">
<div *ngFor="let item of dataSet" class="details">
    <h2>{{item.name}}</h2>
    <ul>
        <li><span>Stream:</span>{{item.stream}}</li>
        <li><span>Employee ID:</span>{{item.id}}</li>
        <li><span>Experience:</span>{{item.experience}} years</li>
        <li *ngFor="let project of item.projects"><span>Projects:</span>{{project.name}}</li>
        <li *ngFor="let project of item.projects"><span>Project Manager:</span>{{project.manager}}</li>
        <li><span>Accomplishments:</span>{{item.accomplishment}}</li>
        <li><span>Feedback:</span>{{item.feedback}}</li>
    </ul>
</div>
</div>
<br />
