<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th *ngFor="let map of columnMaps">{{ map.header }}</th>
        </tr>
    </thead>
    <tr *ngFor="let row of dataSet">
        <ng-container *ngFor="let map of columnMaps">
            <td *ngIf="map.primaryKey == 'name'" >
                <a href="#" (click)="onRowClick(row[id])">
                    {{ row[map.primaryKey] }}
                </a>
            </td>
            <td *ngIf="map.primaryKey != 'name' && map.primaryKey != 'averageRating'" >
                {{ row[map.primaryKey] }}
            </td>
            <td *ngIf="map.primaryKey == 'averageRating'">
                <star-review [value]="row[map.primaryKey]"></star-review>
            </td>
        </ng-container>
    </tr>
</table>
